// ------------------------------
// Views: Home

// About: styling for specific work views.

// #HOME

// ------------------------------
// #HOME
// ------------------------------
.home {
  @include linear-gradient(50deg, $grayscale-darker 0%, $grayscale-darkest 100%);

  // .deco--stripe {
  //   @extend %deco-stripe;
  // }

  .deco--avatar {
    display: block;
    position: relative;
    top: -(rem(25));
    width: rem(150);
    height: rem(150);
    margin: 0 auto;
    border: rem(6) solid $white;
    border-radius: 50%;
    background: url('#{$image-path}/talbs.png') center center no-repeat;
    background-size: 100%;
  }

  .wrapper--view {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: $spacing-lg $spacing-xl;
    background: none; //reset
  }

  .wrapper--content {
    @extend %deco-frame-dark;
    position: relative;
    max-width: span(12);
    flex: none;
    padding: 0 $spacing-xl $spacing-md $spacing-xl;

    &:before {
      @extend %deco-stripe;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
    }

    &:hover, &:active {

      .talbs__description {
        color: $secondary;
      }
    }
  }

  .content--main {
    font-family: $font-family-sans-serif;
    margin-top: -($spacing-lg);
    margin-bottom: $spacing-lg;
    text-align: center;
  }

  .talbs__name {
    @extend %hd-brand;
    margin-bottom: $spacing-sm;
    // color: $white;
  }

  .talbs__description {
    @include transition(
      color timing(x-fast) ease-in-out
    );
    margin-bottom: 0;
    font-size: modular-scale(0);
    letter-spacing: letter-spacing(loose);

    @include breakpoint($bp-screen-md) {
      font-size: modular-scale(1);
    }
  }

  .nav--elsewhere {
    font-size: modular-scale(1);
    text-align: center;

    @include breakpoint($bp-screen-md) {
      font-size: modular-scale(2);
    }
  }

  .nav--elsewhere__item {
    display: inline-block;
    color: $grayscale-light;

    .text {
      @extend %a11y-hide;
    }

    .icon {
      margin: 0;
    }

    .link {
      box-shadow: none;
      display: block;
      padding: $spacing-sm ($spacing-sm*1.5);
      text-align: center;
    }
  }
}
