// ------------------------------
// Layouts

// About: styling for generic layouts and responsive support.

// #CONFIG
// #GLOBAL
// #UTILITY


// ------------------------------
// #CONFIG
// ------------------------------
// susy-based configuration (see http://susydocs.oddbird.net/en/latest/settings/)
$susy: (
  use-custom: (
    background-options: false,
    box-sizing: false,
    breakpoint: true,
    clearfix: true,
    rem: true
    ),
  debug: (
    color: $grid-debug-color,
    ),
  math: fluid,
  output: float
  );

// LAYOUT: set default susy settings
// (gutters are handled outside of elements - by default)
$susy-default: (
  flow: $grid-direction-default,
  column-width: $grid-column-width,
  columns: $grid-column-count,
  container-position: $grid-container-position,
  container: $grid-max-width,
  global-box-sizing: border-box,
  gutters: $grid-gutter-width,
  gutter-position: $grid-gutter-position
  );


// ----------------------------
// #GLOBAL
// ----------------------------
// set basic grid settings for app
@include layout($susy-default);


// ----------------------------
// #UTILITY
// ----------------------------
%grid-container {
  @include container();
}

// grid rows - set visual break and document flow clear (clearfix)
%grid-row {
  @include break();
  @include clearfix();
}

%grid-gallery {
  @include break();
  @include clearfix();
}

%grid-fill-col {
  display: block;
  width: 100%;
}


// ------------------------------
// #GLOBAL
// ------------------------------
// banner
.wrapper--banner {
  padding: 0 gutter();
  margin-bottom: rem(40);
}

.banner {
  @include container();
}

.header--site {
  @include span(4 first);
}

.nav--site {
  @include span(6 last);
}


// content
.wrapper--content {
  padding: 0 gutter();
  margin-bottom: rem(40);
}

.content {
  @include container();
}

// footer
.wrapper--footer--site {
  padding: rem(10) gutter();
}

.footer--site {
  @include container();

  .copyright, .source {
    display: inline-block;
    vertical-align: middle;
  }

  .copyright {
    margin-right: rem(20);
  }
}

// ------------------------------
// #PROJECTS
// ------------------------------
// listings
.list--work {
  @extend %grid-gallery;
}
.work-lead {
  @include gallery(6);
}
