// ------------------------------
// Views

// About: styling for specific views.

// #HOME
// #WORK_INDEX
// #WORK_DETAIL
// #STATE

// ------------------------------
// #HOME
// ------------------------------
.home {
  @include linear-gradient(50deg, $grayscale-darker 0%, $grayscale-darkest 100%);

  .deco--stripe {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: rem(4);
    background: repeating-linear-gradient(
      to right,
      $secondary-lighter,
      $secondary-lighter 30px,
      $secondary 30px,
      $secondary 60px,
      $primary 60px,
      $primary 90px,
      $secondary-light 90px,
      $secondary-light 120px,
      $primary-light 120px,
      $primary-light 150px
    );
  }

  .deco--avatar {
    @include transition(
      filter timing(fast) ease-in-out
    );
    display: block;
    position: relative;
    top: -(rem(25));
    width: rem(150);
    height: rem(150);
    margin: 0 auto;
    // border: rem(2) solid $black;
    border-radius: 50%;
    background: url('#{$image-path}/talbs.png') center center no-repeat;
    background-size: 100%;

    @include breakpoint($bp-screen-md) {
      @include filter(grayscale(100%));
    }
  }

  .wrapper--view {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: $spacing-lg $spacing-xl;
    background: none; //reset
  }

  .wrapper--content {
    @include transition(
      border-color timing(fast) ease-in-out
    );
    max-width: span(12);
    flex: none;
    background: $black;
    border-top: rem(4) solid $secondary;
    padding: 0 $spacing-xl $spacing-md $spacing-xl;

    @include breakpoint($bp-screen-md) {
      border-top: rem(4) solid $grayscale-light;
    }

    &:hover, &:active {
      border-color: $secondary;

      .deco--avatar {
        @include filter(grayscale(0%));
      }

      .talbs__description {
        color: $secondary;
      }
    }
  }

  .content--main {
    font-family: $font-family-sans-serif;
    margin-bottom: $spacing-lg;
    border-bottom: rem(4) double $grayscale-darker;
    padding-bottom: $spacing-lg;
    text-align: center;
  }

  .talbs__name {
    @extend %hd-brand;
    margin-bottom: $spacing-sm;
    color: $white;
  }

  .talbs__description {
    @include transition(
      color timing(x-fast) ease-in-out
    );
    margin-bottom: 0;
    font-size: modular-scale(0);
    letter-spacing: letter-spacing(loose);
    color: $secondary;

    @include breakpoint($bp-screen-md) {
      font-size: modular-scale(1);
      color: $grayscale-light;
    }
  }

  .content--aside {
    font-family: $font-family-sans-serif;
  }

  .nav--elsewhere {
    font-size: modular-scale(1);
    text-align: center;

    @include breakpoint($bp-screen-md) {
      font-size: modular-scale(2);
    }
  }

  .nav--elsewhere__item {
    display: inline-block;
    color: $grayscale-light;

    .text {
      @extend %a11y-hide;
    }

    .icon {
      margin: 0;
    }

    .link {
      box-shadow: none;
      display: block;
      padding: $spacing-sm ($spacing-sm*1.5);
      text-align: center;
    }
  }
}

// ------------------------------
// #WORK_INDEX
// ------------------------------
.work-index {

  // wrappers
  .wrapper--greeting,
  .wrapper--work,
  .wrapper--more {
    @extend %grid-wrapper;
  }

  // sections
  .greeting,
  .section--work,
  .section--more {
    @extend %grid-container;
    margin-bottom: $spacing-xl;
    text-align: center;

    @include breakpoint($bp-screen-md) {
      text-align: left;
    }
  }

  .greeting {

    em {
      font-style: normal;
      color: $secondary;
    }
  }

  .section--who {
    margin-bottom: $spacing-xl;

    @include breakpoint($bp-screen-md) {
      @include pre(1);
      @include post(1);
    }

    .section__title {
      @extend %hd-1;
      color: $secondary;
      text-align: center;
    }

    .section__content {
      @extend %copy-3;
      color: $text-emphasized-color;
    }
  }

  .section--what {
    margin-top: $spacing-xl;

    .section__title {
      @extend %hd-5;
      margin-bottom: $spacing-lg;
      text-align: center;
      color: $headings-de-emphasized-color;
    }

    .section__content {
      @extend %grid-gallery;
    }

    .what__detail {
      margin-bottom: $spacing-lg;

      @include breakpoint($bp-screen-md) {
        @include gallery(4);
        margin-bottom: 0;
      }

      .title {
        @extend %hd-5-alt;
        @extend %deco-divider-single;
        padding-bottom: $spacing-sm;
        color: $secondary;
      }

      .content {
        @extend %copy-5;
      }
    }
  }

  // work
  .wrapper--work {
    padding-top: $spacing-xl;
    background: $white-t;
  }

  .section--work {

    .section__title {
      @extend %hd-3;
    }
  }

  // more
  .section--more {

    .section__title {
      @extend %hd-3;
    }

    .section--more__about {
      @extend %grid-row;
      margin-bottom: $spacing-xl;

      @include breakpoint($bp-screen-md) {
        margin-bottom: $spacing-lg;
      }

      .about--misc {
        @extend %copy-4;
        margin-bottom: $spacing-lg;

        @include breakpoint($bp-screen-md) {
          @include span(8 first);
          margin-bottom: 0;
        }
      }

      .about--resume {
        display: block;

        @include breakpoint($bp-screen-md) {
          @include span(4 last);
          text-align: right;
        }
      }

      .action--resume {
        @extend %btn-primary;
        display: block;

        @include breakpoint($bp-screen-sm) {
          display: inline-block;
        }
      }
    }

    .section--more__elsewhere {
      margin-top: $spacing-xl;

      @include breakpoint($bp-screen-md) {
        margin-top: $spacing-lg;
      }

      .nav--elsewhere {
        display: inline-block;
        vertical-align: baseline;
        font-family: $font-family-sans-serif;
      }
    }
  }
}


// ------------------------------
// #WORK
// ------------------------------
.work--detail {

  .wrapper--billboard,
  .wrapper--highlights,
  .wrapper--takeaways {
    @extend %grid-wrapper;
    margin-bottom: $spacing-lg;
    padding-bottom: $spacing-lg;

    @include breakpoint($bp-screen-md) {
      margin-bottom: $spacing-xl;
      padding-bottom: $spacing-xl;
    }
  }

  .work__billboard,
  .work__highlights,
  .work__takeaways {
    @extend %grid-container;
    text-align: center;

    @include breakpoint($bp-screen-md) {
      text-align: left;
    }
  }

  .work__section {

    .section__title {
      @extend %hd-3;
    }

    & + .deco-banner {
      margin-top: $spacing-xl;
    }
  }

  // billboard
  .wrapper--billboard {
    // background: $grayscale;

    @include breakpoint($bp-screen-md) {
      margin-top: ($spacing-xl*2);
      @include linear-gradient(50deg, $grayscale 0%, $grayscale-dark 100%);
    }
  }

  .billboard__image {
    border-bottom: rem(10) solid $secondary;
    margin-bottom: $spacing-lg;
    box-shadow-color: $grayscale-dark;

    @include breakpoint($bp-screen-md) {
      position: relative;
      top: -($spacing-xl);
      margin-bottom: 0;
    }
  }

  .billboard__content {
    @extend %grid-row;
  }

  .work__title {
    @extend %grid-fill-col;
    @extend %hd-2;
    color: $headings-base-color;

    @include breakpoint($bp-screen-md) {
      color: $white;
    }

    .sub {
      @extend %hd-6;
      margin-bottom: 0;
      color: $headings-emphasized-color;

      @include breakpoint($bp-screen-md) {
        color: $white-t;
      }
    }
  }

  .work__introduction {
    @extend %copy-3;
    color: $grayscale-lightest;
    margin-bottom: $spacing-lg;
    color: $text-base-color;

    @include breakpoint($bp-screen-md) {
      @include span(8 first);
      margin-bottom: 0;
      color: $white-t;
    }
  }

  .work__goals {
    @include breakpoint($bp-screen-md) {
      @include span(4 last);
      position: relative;
      top: -($spacing-xl);
    }
  }

  .work__goals__title {
    @extend %hd-6;
    color: $secondary;
  }

  .list--goals {
    @extend %reset-lists;
    color: $text-emphasized-color;

    @include breakpoint($bp-screen-md) {
      color: $grayscale-lighter;
    }

    .goal {
      @extend %clear-last-child;
      margin-bottom: $spacing-md;
      border-bottom: rem(2) solid $grayscale-lightest;
      padding-bottom: $spacing-md;
      font-family: $font-family-sans-serif;

      @include breakpoint($bp-screen-md) {
        border-color: $grayscale;
      }
    }
  }

  // highlights
  .work__highlights {

    .section__content {
      @extend %grid-gallery;
    }
  }

  .work__highlight {
    @extend %grid-row;
    @extend %clear-last-child;
    margin-bottom: $spacing-xl;
    border-bottom: rem(4) double $grayscale-lightest;
    padding-bottom: $spacing-xl;

    @include breakpoint($bp-screen-md) {
      margin-bottom: $spacing-xl;
      padding-bottom: $spacing-xl;
    }

    .image {
      @extend %deco-frame;
      max-width: 100%;
      margin-bottom: $spacing-lg;

      @include breakpoint($bp-screen-md) {
        margin-bottom: 0;
      }
    }

    .caption {

    }

    .title {
      @extend %hd-5;
    }

    .content {
      @extend %copy-4;
      margin-bottom: $spacing-lg;
    }

    .action {
      @extend %btn-primary;
      display: block;
      margin-top: $spacing-md;

      @include breakpoint($bp-screen-sm) {
        display: inline-block;
      }
    }

    // odd
    &:nth-child(odd) {

      .image {
        @include breakpoint($bp-screen-md) {
          @include span(6 first);
        }
      }

      .caption {
        @include breakpoint($bp-screen-md) {
          @include span(6 last);
        }
      }
    }

    // even
    &:nth-child(even) {

      .image {
        @include breakpoint($bp-screen-md) {
          @include span(6 last);
        }
      }

      .caption {
        @include breakpoint($bp-screen-md) {
          @include span(6 first);
        }
      }
    }
  }

  .work__takeaways {

    .section__title {
      @extend %hd-4;
      margin-bottom: $spacing-xl;
      text-align: center;
    }

    .list--actions {
      @extend %reset-lists;
      @extend %grid-gallery;

      .action__item {
        @extend %clear-last-child;
        display: block;
        margin-bottom: $spacing-md;
        text-align: center;
      }

      .action {
        display: block;

        @include breakpoint($bp-screen-md) {
          display: inline-block;
        }
      }
    }

    .cta--view {
      @extend %btn-primary;
    }
  }

  .work__takeaways--01 {

    .action__item {
      @include breakpoint($bp-screen-md) {
        @include gallery(12);
      }

      @include breakpoint($bp-screen-lg) {
        @include gallery(12);
      }
    }
  }

  .work__takeaways--02 {

    .action__item {
      @include breakpoint($bp-screen-md) {
        @include gallery(6);
      }
    }
  }

  .work__takeaways--03 {

    .action__item {
      @include breakpoint($bp-screen-md) {
        @include gallery(4);
      }

      @include breakpoint($bp-screen-lg) {
        @include gallery(4);
      }
    }
  }
}


// ------------------------------
// #STATE
// ------------------------------
.work .nav--site .link--work,
.about .nav--site .link--about,
.contact .nav--site .link--contact {
  color: $black;
  cursor: pointer;
  pointer-events: none;
}
