// ------------------------------
// Views: Work

// About: styling for specific work views.

// #WORK
// #WORK_INDEX
// #WORK_DETAIL


// ------------------------------
// #WORK
// ------------------------------
.work {
  // background: $work-bg;
  @include linear-gradient(50deg, $black 0%, $black-dark 100%);

  .wrapper--view {
    margin: $spacing-md $spacing-md 0 $spacing-md;

    @include breakpoint($bp-screen-md) {
      margin: $spacing-lg $spacing-lg 0 $spacing-lg;
    }
  }
}

// ------------------------------
// #WORK_INDEX
// ------------------------------
.work-index {

  // wrappers
  .wrapper--greeting,
  .wrapper--work,
  .wrapper--more {
    @extend %grid-wrapper;
  }

  // sections
  .greeting,
  .section--work,
  .section--more {
    @extend %grid-container;
    margin-bottom: $spacing-xl;
    text-align: center;

    @include breakpoint($bp-screen-md) {
      text-align: left;
    }
  }

  .greeting {
    margin-bottom: $spacing-xl;

    em {
      font-style: normal;
      color: $secondary;
    }

    .section__title {
      @extend %hd-A;
      color: $secondary;
    }

    .section__content {
      @extend %copy-B;
    }
  }

  .section--who {
    @extend %deco-divider-double;
    padding-bottom: $spacing-lg;
    margin-bottom: $spacing-xl;
  }

  .section--what {

    .section__content {
      @extend %grid-gallery;
    }

    .what__detail {
      margin-bottom: $spacing-md;

      @include breakpoint($bp-screen-md) {
        @include gallery(4);
      }

      .title {
        @extend %hd-C;
        color: $secondary;
      }

      .content {
        @include transition(
          color timing(x-fast) ease-in-out 0s
        );
        @extend %copy-D;
      }
    }
  }

  // work
  .wrapper--work {
    position: relative;
    margin-bottom: $spacing-xl;
    padding-top: $spacing-xl;

    &:before {
      @extend %deco-stripe-thin;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
    }
  }

  .section--work {

    .section__title {
      @extend %hd-D;
      margin-bottom: $spacing-lg;
      text-align: center;
      color: $secondary;
    }
  }

  .work-lead {
    @extend %deco-divider-double;
    @extend %clear-last-child;
    @extend %grid-row;
    margin-bottom: $spacing-xl;
    padding-bottom: $spacing-xl;

    &:hover, &:active {

      .work-lead__copy {
        color: inherit;
      }
    }

    // odd
    &:nth-child(odd) {

      .work-lead__image {
        @include breakpoint($bp-screen-lg) {
            @include span(8 first);
        }
      }

      .work-lead__content {
        @include breakpoint($bp-screen-lg) {
            @include span(4 last);
        }
      }
    }

    // odd
    &:nth-child(even) {

      .work-lead__image {
        @include breakpoint($bp-screen-lg) {
            @include span(8 last);
        }
      }

      .work-lead__content {
        @include breakpoint($bp-screen-lg) {
            @include span(4 first);
            text-align: right;
        }
      }
    }
  }

  .work-lead__image {
    @extend %graphic-focus;
    @extend %deco-frame;
    border: 1px solid $gray-light;
    box-shadow: 0 rem(2) 0 0 $shadow;
  }

  .work-lead__title {
    @include transition(
      color timing(x-fast) ease-in-out 0s
    );
    @extend %hd-B;
    margin-bottom: 0;
  }

  .work-lead__client {
    @extend %hd-E;
    display: block;
    margin-bottom: rem(2);
  }

  .work-lead__copy {
    @include transition(
      all timing(x-fast) ease-in-out 0s
    );
    @extend %copy-D;
  }

  .work-lead__image {
    display: block;
    position: relative;

    .image__overlay {
      @include transition(
        all timing(x-fast) ease-in-out 0s
      );
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      background: $primary;
    }

    .image__overlay__icon {
      @extend %vertically-center;
      font-size: modular-scale(4);
      color: $text-lod;
    }
  }

  .work-lead__link {

    &:hover,
    &:focus {

      .work-lead__image {
        border-bottom-color: $primary;
      }

      .image__overlay {
        opacity: 0.65;
      }

      .work-lead__title {
        color: $primary;
      }
    }
  }

  // more
  .wrapper--more {
    position: relative;
    margin-bottom: $spacing-xl;
    padding-top: $spacing-xl;

    &:before {
      @extend %deco-stripe-thin;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
    }
  }

  .section--more {

    .section__title {
      @extend %hd-D;
      margin-bottom: $spacing-lg;
      text-align: center;
      color: $secondary;
    }

    .section--more__about {
      @extend %grid-row;
      margin-bottom: $spacing-xl;

      @include breakpoint($bp-screen-md) {
        margin-bottom: $spacing-lg;
      }

      .about--misc {
        @extend %copy-D;
        margin-bottom: $spacing-lg;

        @include breakpoint($bp-screen-md) {
          @include span(8 first);
          margin-bottom: 0;
        }
      }

      .about--resume {
        display: block;

        @include breakpoint($bp-screen-md) {
          @include span(4 last);
          text-align: right;
        }
      }

      .action--resume {
        @extend %btn-primary;
        display: block;

        @include breakpoint($bp-screen-sm) {
          display: inline-block;
        }
      }
    }

    .section--more__elsewhere {
      margin-top: $spacing-xl;

      @include breakpoint($bp-screen-md) {
        margin-top: $spacing-lg;
      }

      .nav--elsewhere {
        display: inline-block;
        vertical-align: baseline;
        font-family: $font-family-sans-serif;
      }

      .nav--elsewhere__item .link {
        box-shadow: none;
      }
    }
  }
}


// ------------------------------
// #WORK
// ------------------------------
.work--detail {
  .wrapper--billboard,
  .wrapper--highlights,
  .wrapper--takeaways {
    @extend %grid-wrapper;
  }

  .work__billboard,
  .work__highlights,
  .work__takeaways {
    @extend %grid-container;
    text-align: center;

    @include breakpoint($bp-screen-md) {
      text-align: left;
    }
  }

  .work__section {

    .section__title {
      @extend %hd-C;
    }

    & + .deco-banner {
      margin-top: $spacing-xl;
    }
  }

  // title
  .wrapper--title {
    margin-top: $spacing-xl;
  }

  .work__title {
    color: $text-lod;
    text-align: center;

    .sub {
      margin-bottom: 0;
    }
  }

  // billboard
  .wrapper--billboard {
    margin-bottom: $spacing-lg;
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
    background: $gray-light;

    @include breakpoint($bp-screen-md) {
      margin-bottom: $spacing-xl;
    }
  }

  .billboard__image {
    margin-bottom: $spacing-xl;
  }

  .billboard__content {
    @extend %grid-row;
  }

  .work__introduction {
    @extend %copy-D;
    margin-bottom: $spacing-lg;

    @include breakpoint($bp-screen-md) {
      @include span(8 first);
      margin-bottom: 0;
    }
  }

  .work__goals {
    @include breakpoint($bp-screen-md) {
      @include span(4 last);
    }
  }

  .work__goals__title {
  }

  .list--goals {
    @extend %reset-lists;

    .goal {
      @extend %clear-last-child;
      margin-bottom: $spacing-md;
      border-bottom: rem(4) double $gray-light;
      padding-bottom: $spacing-md;
      font-family: $font-family-sans-serif;
    }
  }

  // highlights
  .wrapper--highlights {
    margin-bottom: $spacing-lg;

    @include breakpoint($bp-screen-md) {
      margin-bottom: $spacing-xl;
    }
  }

  .work__highlights {

    .section__content {
      @extend %grid-gallery;
    }
  }

  .work__highlight {
    @extend %grid-row;
    @extend %clear-last-child;
    margin-bottom: $spacing-xl;
    border-bottom: rem(4) double $gray-light;
    padding-bottom: $spacing-xl;

    @include breakpoint($bp-screen-md) {
      margin-bottom: $spacing-xl;
      padding-bottom: $spacing-xl;
    }

    .image {
      @extend %graphic-focus;
      @extend %deco-frame;
      border: 1px solid $gray-light;
      box-shadow: 0 rem(2) 0 0 $shadow;
      max-width: 100%;
      margin-bottom: $spacing-lg;

      @include breakpoint($bp-screen-md) {
        margin-bottom: 0;
      }
    }

    .caption {

    }

    .title {
      @extend %hd-D;
    }

    .content {
      @extend %copy-C;
      margin-bottom: $spacing-lg;
    }

    .action {
      @extend %btn-primary;
      display: block;
      margin-top: $spacing-md;

      @include breakpoint($bp-screen-sm) {
        display: inline-block;
      }
    }

    // odd
    &:nth-child(odd) {

      .image {
        @include breakpoint($bp-screen-md) {
          @include span(8 first);
        }
      }

      .caption {
        @include breakpoint($bp-screen-md) {
          @include span(4 last);
        }
      }
    }

    // even
    &:nth-child(even) {

      .image {
        @include breakpoint($bp-screen-md) {
          @include span(8 last);
        }
      }

      .caption {
        @include breakpoint($bp-screen-md) {
          @include span(4 first);
        }
      }
    }
  }

  .wrapper--takeaways {
    margin-bottom: $spacing-xl;
  }

  .work__takeaways {

    .section__title {
      margin-bottom: $spacing-xl;
      text-align: center;
    }

    .list--actions {
      @extend %reset-lists;
      @extend %grid-gallery;

      .action__item {
        @extend %clear-last-child;
        display: block;
        margin-bottom: $spacing-md;
        text-align: center;
      }

      .action {
        display: block;

        @include breakpoint($bp-screen-md) {
          display: inline-block;
        }
      }
    }

    .cta--view {
      @extend %btn-primary;
    }
  }

  .work__takeaways--01 {

    .action__item {
      @include breakpoint($bp-screen-md) {
        @include gallery(12);
      }

      @include breakpoint($bp-screen-lg) {
        @include gallery(12);
      }
    }
  }

  .work__takeaways--02 {

    .action__item {
      @include breakpoint($bp-screen-md) {
        @include gallery(6);
      }
    }
  }

  .work__takeaways--03 {

    .action__item {
      @include breakpoint($bp-screen-md) {
        @include gallery(4);
      }

      @include breakpoint($bp-screen-lg) {
        @include gallery(4);
      }
    }
  }
}


// ------------------------------
// #STATE
// ------------------------------
.work .nav--site .link--work,
.about .nav--site .link--about,
.contact .nav--site .link--contact {
  color: $black;
  cursor: pointer;
  pointer-events: none;
}
