.b--darkest-gray { border-color     : $darkest-gray; }
.b--darker-gray { border-color      : $darker-gray; }
.b--dark-gray { border-color        : $dark-gray; }
.b--gray { border-color             : $gray; }
.b--light-gray { border-color       : $light-gray; }
.b--lighter-gray { border-color     : $lighter-gray; }
.b--lightest-gray { border-color    : $lightest-gray; }
.b--washed-gray { border-color      : $washed-gray; }

.b--darkest-red { border-color      : $darkest-red; }
.b--darker-red { border-color       : $darker-red; }
.b--lighter-red { border-color      : $lighter-red; }
.b--lightest-red { border-color     : $lightest-red; }
.b--washed-red { border-color       : $washed-red; }

.b--darkest-orange { border-color   : $darkest-orange; }
.b--darker-orange { border-color    : $darker-orange; }
.b--dark-orange { border-color      : $dark-orange; }
.b--light-orange { border-color     : $light-orange; }
.b--lighter-orange { border-color   : $lighter-orange; }
.b--lightest-orange { border-color  : $lightest-orange; }
.b--washed-orange { border-color    : $washed-orange; }

.b--darkest-yellow { border-color   : $darkest-yellow; }
.b--darker-yellow { border-color    : $darker-yellow; }
.b--dark-yellow { border-color      : $dark-yellow; }
.b--lighter-yellow { border-color   : $lighter-yellow; }
.b--lightest-yellow { border-color  : $lightest-yellow; }
.b--washed-yellow { border-color    : $washed-yellow; }

.b--darkest-purple { border-color   : $darkest-purple; }
.b--darker-purple { border-color    : $darker-purple; }
.b--dark-purple { border-color      : $dark-purple; }
.b--lighter-purple { border-color   : $lighter-purple; }
.b--lightest-purple { border-color  : $lightest-purple; }
.b--washed-purple { border-color    : $washed-purple; }

.b--darkest-pink { border-color     : $darkest-pink; }
.b--darker-pink { border-color      : $darker-pink; }
.b--lighter-pink { border-color     : $lighter-pink; }
.b--lightest-pink { border-color    : $lightest-pink; }
.b--washed-pink { border-color      : $washed-pink; }

.b--darkest-green { border-color    : $darkest-green; }
.b--darker-green { border-color     : $darker-green; }
.b--lighter-green { border-color    : $lighter-green; }
.b--lightest-green { border-color   : $lightest-green; }
.b--washed-green { border-color     : $washed-green; }

.b--darkest-teal { border-color     : $darkest-teal; }
.b--darker-teal { border-color      : $darker-teal; }
.b--dark-teal { border-color        : $dark-teal; }
.b--teal { border-color             : $teal; }
.b--light-teal { border-color       : $light-teal; }
.b--lighter-teal { border-color     : $lighter-teal; }
.b--lightest-teal { border-color    : $lightest-teal; }
.b--washed-teal { border-color      : $washed-teal; }

.b--darkest-blue { border-color     : $darkest-blue; }
.b--darker-blue { border-color      : $darker-blue; }
.b--lighter-blue { border-color     : $lighter-blue; }
.b--washed-blue { border-color      : $washed-blue; }

// font awesome specific
.b--darkest-info { border-color     : $darkest-info; }
.b--darker-info { border-color      : $darker-info; }
.b--dark-info { border-color        : $dark-info; }
.b--info { border-color             : $info; }
.b--light-info { border-color       : $light-info; }
.b--lighter-info { border-color     : $lighter-info; }
.b--lightest-info { border-color    : $lightest-info; }
.b--washed-info { border-color      : $washed-info; }

.b--darkest-success { border-color  : $darkest-success; }
.b--darker-success { border-color   : $darker-success; }
.b--dark-success { border-color     : $dark-success; }
.b--success { border-color          : $success; }
.b--light-success { border-color    : $light-success; }
.b--lighter-success { border-color  : $lighter-success; }
.b--lightest-success { border-color : $lightest-success; }
.b--washed-success { border-color   : $washed-success; }

.b--darkest-danger { border-color   : $darkest-danger; }
.b--darker-danger { border-color    : $darker-danger; }
.b--dark-danger { border-color      : $dark-danger; }
.b--danger { border-color           : $danger; }
.b--light-danger { border-color     : $light-danger; }
.b--lighter-danger { border-color   : $lighter-danger; }
.b--lightest-danger { border-color  : $lightest-danger; }
.b--washed-danger { border-color    : $washed-danger; }

.b--darkest-warning { border-color  : $darkest-warning; }
.b--darker-warning { border-color   : $darker-warning; }
.b--dark-warning { border-color     : $dark-warning; }
.b--warning { border-color          : $warning; }
.b--light-warning { border-color    : $light-warning; }
.b--lighter-warning { border-color  : $lighter-warning; }
.b--lightest-warning { border-color : $lightest-warning; }
.b--washed-warning { border-color   : $washed-warning; }
