
// Converted Variables


// Custom Media Query Variables


/*

   HEIGHTS
   Docs: http://tachyons.io/docs/layout/heights/

   Base:
     h = height
     min-h = min-height
     min-vh = min-height vertical screen height
     vh = vertical screen height

   Modifiers
     1 = 1st step in height scale
     2 = 2nd step in height scale
     3 = 3rd step in height scale
     4 = 4th step in height scale
     5 = 5th step in height scale

     -25   = literal value 25%
     -50   = literal value 50%
     -75   = literal value 75%
     -100  = literal value 100%

     -auto = string value of auto
     -inherit = string value of inherit

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Height Scale */

.h025 { height: 0.25rem; }
.h050 { height: 0.50rem; }
.h075 { height: 0.75rem; }

@media #{$breakpoint-not-small} {
  .h025-ns { height: 0.25rem; }
  .h050-ns { height: 0.50rem; }
  .h075-ns { height: 0.75rem; }
}

@media #{$breakpoint-medium} {
  .h025-m { height: 0.25rem; }
  .h050-m { height: 0.50rem; }
  .h075-m { height: 0.75rem; }
}

@media #{$breakpoint-large} {
  .h025-l { height: 0.25rem; }
  .h050-l { height: 0.50rem; }
  .h075-l { height: 0.75rem; }
}
