// vertically center
.center-v {
  top: 50%;
  transform: translateY(-50%);
}

@media #{$breakpoint-not-small} {
  .center-v-ns {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media #{$breakpoint-medium} {
  .center-v-md {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media #{$breakpoint-large} {
  .center-v-l {
    top: 50%;
    transform: translateY(-50%);
  }
}

.center-h {
  left: 50%;
  transform: translateX(-50%);
}

@media #{$breakpoint-not-small} {
  .center-h-ns {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media #{$breakpoint-medium} {
  .center-h-m {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media #{$breakpoint-large} {
  .center-h-lg {
    left: 50%;
    transform: translateX(-50%);
  }
}
