# Ignore: docs folders/files
.ruby-version

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# Ignore: OS or Editor folders/files
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
Desktop.ini

# Ignore: Front End/Local Development
.sass-cache
.map
node_modules
npm-debug.log.publish
.DS_Store

# Ignore: Project-centric folders/files
public
