// view: resume
// ====================

.view--resume {

  // resume-specific re-usable bits
  %section--alpha {
    @extend %wipe-last-child;
    @include row();
    margin-bottom: ($baseline-v*3);
  }

  %copy--focusable {

    .title, .copy {
      @extend %trans-color;
    }

    // STATE: hover/focus
    &:focus, &:hover {

      .title, .copy {
        color: $copy__color--focus;
      }
    }
  }

  // --------------------

  // layout
  .wrapper--view {
    border-top: $baseline-v solid $gray-l5;
    border-bottom: $baseline-v solid $gray-l5;
    background: $view__bg url(../images/bg-noise-fff.png) 0 0 repeat;
  }

  .view {
    margin: ($baseline-v*2) $baseline-h;
  }

  .wrapper--grid {
    @include outer-container();
  }

  .nav--global {
    @extend %state-disabled;
    @include transition(opacity $tmg-s1 ease-in-out, left $tmg-s1 ease-in-out);
    position: fixed;
    top: ($baseline-v*4);
    left: -($baseline-h*10);
    width: ($baseline-h*3.5);
    border: 1px solid $gray-l5;
    background: $white;

    @include media($bp-dx) {
      left: -($baseline-h/10);
      // @extend %state-enabled; NOTE: can't be used now
      pointer-events: auto; // NOTE: needed now since extends aren't supported in neat media mixins
      outline: invert none medium; // NOTE: needed now since extends aren't supported in neat media mixins
      opacity: 1.0;
    }

    .title {
      @extend %text-sr;
    }

    .list--nav {

    }

    .list--nav__item {
      border-bottom: 1px solid $gray-l5;

      &:last-child {
        border-bottom: none;
      }

      // STATE: current nav item
      &.is--current {

        .action {
          color: $gray;
          border-left-color: $gray;
        }
      }
    }

    .ico {
      display: inline-block;
      vertical-align: middle;
      margin-right: ($baseline-h/10);
    }

    .label {
      display: inline-block;
      vertical-align: middle;
    }

    .action {
      @extend %link-nav-page;
      @extend %action--nav--page;
    }
  }

  .content--primary {
    @extend %section--alpha;
  }

  .content--secondary {
    @extend %section--alpha;
  }


  .wrapper--main-other {
    @extend %trans-size;

    @include media($bp-dm) {
      @include span-columns(12 of 12);
    }

    @include media($bp-dl) {
      @include shift(1);
      @include span-columns(3 of 12);
    }

    @include media($bp-dx) {
      @include shift(1);
      @include span-columns(3 of 12);
    }
  }

  // --------------------

  // general
  .title--section {
    @extend %hd--delta;
    margin-bottom: $baseline-v;
    border-bottom: double 4px $gray-l4;
    padding-bottom: ($baseline-v/2);
  }

  .list--temporal {
    @extend %no-list;
  }

  .list--temporal__item .label {
    @extend %text-sr;
  }

  // --------------------

  // summary
  .content--summary {
    @extend %section--alpha;
    @extend %copy--focusable;

    .title {
      @extend %text-sr;
    }

    .copy {
      @extend %copy--lead;

      @include media($bp-m) {
        @include font-size(18); // NOTE: needed since neat doesn't support extends in MQs
        @include lh(18);
      }
    }

    a {
      @extend %link-copy;
    }
  }

  // --------------------

  // experience
  .content--experience {
    @extend %trans-size;
    margin-bottom: ($baseline-v*2);

    @include media($bp-dm) {
      @include span-columns(12 of 12);
      margin-bottom: 0;
    }

    @include media($bp-dl) {
      @include span-columns(8 of 12);
      margin-bottom: 0;
    }

    @include media($bp-dx) {
      @include span-columns(8 of 12);
      margin-bottom: 0;
    }

    a {
      @extend %link-copy;
    }
  }

  .content--experience__position {
    @extend %wipe-last-child;
    @extend %copy--focusable;
    margin-bottom: ($baseline-v*1.5);
    border-bottom: 1px solid $gray-l4;
    padding-bottom: ($baseline-v*1.5);

    .wrapper--glance {
      @include clearfix();
      display: block;
      margin-bottom: ($baseline-v/2);
    }

    .title {
      @extend %hd--bravo;

      .role:after {
        content: ", ";
        margin-right: ($baseline-h/10);
      }

      @include media($bp-dm) {
        @include span-columns(5 of 8);
      }

      @include media($bp-dl) {
        @include span-columns(5 of 8);
      }

      @include media($bp-dx) {
        @include span-columns(5 of 8);
      }
    }

    .list--temporal {
      @extend %hd--epsilon;
      margin-bottom: ($baseline-v/2);

      @include media($bp-dm) {
        @include span-columns(3 of 8);
        @include omega();
        text-align: right;
      }

      @include media($bp-dl) {
        @include span-columns(3 of 8);
        @include omega();
        text-align: right;
      }

      @include media($bp-dx) {
        @include span-columns(3 of 8);
        @include omega();
        text-align: right;
      }
    }

    .list--temporal__item {
      @extend %wipe-last-child;
      display: inline-block;
      vertical-align: middle;
      margin-right: ($baseline-h/4);
    }

    .copy {
      @extend %copy--showcase;


      @include media($bp-m) {
        @include font-size(16); // NOTE: needed since neat doesn't support extends in MQs
        @include lh(16);
      }
    }
  }

  // --------------------

  // education
  .content--education {
    margin-bottom: ($baseline-v*4);

    @include media($bp-ds) {
      margin-bottom: ($baseline-v*2);
    }

    @include media($bp-m) {
      margin-bottom: ($baseline-v*2);
    }

    a {
      @extend %link-copy;
    }

    .content--education__degree {
      @extend %wipe-last-child;
      margin-bottom: ($baseline-v*0.75);
      border-bottom: 1px solid $gray-l4;
      padding-bottom: ($baseline-v*0.75);

      .title {
        @extend %hd--charlie;

        .degree:after {
          content: ", ";
          margin-right: ($baseline-h/10);
        }
      }

      .list--temporal {
        @extend %hd--epsilon;
      }
    }
  }

  // highlighted partners/projects
  .content--partners {
    margin-bottom: ($baseline-v*2);

    a {
      @extend %link-copy;
    }

    .list--partners {
      @extend %no-list;
    }

    .list--partners_item {
      @extend %wipe-last-child;
      margin-bottom: ($baseline-v*0.75);
      border-bottom: 1px solid $gray-l4;
      padding-bottom: ($baseline-v*0.75);

      @include media($bp-dm) {
        @include span-columns(6 of 12);
        @include omega(2n);
      }

      @include media($bp-ds) {
        @include span-columns(6 of 12);
        @include omega(2n);
      }

      .ico {
        @extend %trans-color;
        display: inline-block;
        vertical-align: middle;
        margin-right: ($baseline-h/4);
      }

      .title {
        @extend %hd--foxtrot;
      }

      // CASE: featured
      &.is-featured {

        .title {
          color: $copy--supplemental__color--focus;
        }
      }
    }
  }

  // --------------------

  // activities
  .content--activities {
    @extend %section--alpha;

    a {
      @extend %link-copy;
    }

    .list--activities {
      @extend %no-list;
    }

    .list--activiites_item {
      @extend %copy--focusable;
      margin-bottom: $baseline-v;

      @include media($bp-dm) {
        @include span-columns(4 of 12);
        @include omega(4n);
      }

      @include media($bp-dl) {
        @include span-columns(4 of 12);
        @include omega(4n);
      }

      @include media($bp-dx) {
        @include span-columns(4 of 12);
        @include omega(4n);
      }

      .title {
        @extend %hd--charlie;
      }
    }

    .list--activiites_item {
      @extend %wipe-last-child;
    }
  }

  // --------------------

  // elsewhere
  .content--elsewhere {
    @extend %section--alpha;

    a {
      @extend %link-copy;
    }

    em {
      @extend %emphasis--bravo;
    }
  }

  .elsewhere__offclock {
    @extend %copy--focusable;
    margin-bottom: ($baseline-v*1.5);

    .elsewhere__offclock__title {
      @extend %text-sr;
    }

    .copy {
      @extend %copy--showcase;
    }
  }

  .elsewhere__online {

    .elsewhere__online__title {
      @extend %text-sr;
    }

    .elsewhere__online__copy {
      @extend %trans-color;
      @extend %copy--showcase;
      margin-bottom: $baseline-v;
    }

    .list--nav__item {
      @extend %copy--focusable;
      margin-bottom: $baseline-v;

      @include media($bp-ds) {
        @include span-columns(6 of 12);
        @include omega(2n);
      }

      @include media($bp-dm) {
        @include span-columns(6 of 12);
        @include omega(2n);
      }

      @include media($bp-dl) {
        @include span-columns(3 of 12);
        @include omega(4n);
      }

      @include media($bp-dx) {
        @include span-columns(3 of 12);
        @include omega(4n);
      }

      .title {
        @extend %hd--charlie;
        margin-bottom: ($baseline-v/4);  // NOTE: not clean, but needed
      }

      .ico {
        @extend %trans-color;
        display: inline-block;
        vertical-align: middle;
        margin-right: ($baseline-h/4);
        border-right: 1px solid $gray-l5;
        padding-right: ($baseline-h/4);
        color: $copy--supplemental__color;
      }

      .action {
        display: inline-block;
        vertical-align: middle;
      }

      .copy {
        @extend %copy--detail;
        margin-left: ($baseline-h);
      }

      // STATE: hover
      &:hover {

        .ico {
          color: $copy__color--focus;
        }

        .copy {
          color: $copy__color--focus;
        }
      }
    }
  }
}
