// view: resume
// ====================

.view--resume {

  // resume-specific re-usable bits
  %section--alpha {
    @extend %wipe-last-child;
    @include row();
    margin-bottom: ($baseline-v*3);
  }

  %copy--focusable {

    .title, .copy {
      @extend %trans-color;
    }

    // STATE: hover/focus
    &:focus, &:hover {

      .title, .copy {
        color: $copy__color--focus;
      }
    }
  }

  // --------------------

  // layout
  .wrapper--view {
    position: relative;
    border: ($baseline-v/2) solid $white;
    border-radius: ($baseline-v/10);
    background: $view__bg url(../images/bg-noise-fff.png) 0 0 repeat;

    @include media($bp-dm) {
      border-width: $baseline-v;
    }

    @include media($bp-dl) {
      border-width: $baseline-v;
    }

    @include media($bp-dx) {
      border-width: $baseline-v;
    }
  }

  .view {
    margin: $baseline-v $baseline-h;
  }

  .wrapper--grid {
    @include outer-container();
  }

  .content--primary {
    @extend %section--alpha;
  }

  .content--secondary {
    @extend %section--alpha;
  }


  .wrapper--main-other {

    @include media($bp-dm) {
      @include span-columns(12 of 12);
    }

    @include media($bp-dl) {
      @include shift(1);
      @include span-columns(3 of 12);
    }

    @include media($bp-dx) {
      @include shift(1);
      @include span-columns(3 of 12);
    }
  }

  // --------------------

  // decorative bits
  .wainscoting {
    position: relative;
    top: -($baseline-v);
    display: block;
    height: $baseline-v;
    overflow: hidden;
    border-top: 1px solid $decorative__color--secondary;
    text-align: center;
    color: $decorative__color--secondary;

    .fa {
      @extend %t-icon-l;
      position: relative;
      top: -($baseline-v/10);
    }
  }

  .wainscoting--1 {
    margin-top: $baseline-v;
  }

  .wainscoting--2, .wainscoting--3, .wainscoting--4 {
    margin-bottom: $baseline-v;
  }

  // --------------------

  // visual loading of page elements
  .anim--load {
    opacity: 0.0;
    @include animation(fadeIn $tmg-avg ease-in 1);
    @include animation-fill-mode(both);
  }

  .anim--load__el--1, .anim--load__el--3 {
    @include animation(fadeInLeft $tmg-avg ease-in 1);
    @include animation-fill-mode(both);
  }

  .anim--load__el--2 {
    @include animation(fadeInRight $tmg-avg ease-in 1);
    @include animation-fill-mode(both);
  }

  @for $i from 1 through 10 {

    .anim--load__el--#{$i} {
      @include animation-delay(#{$i/2}s);
    }
  }

  // --------------------

  // general
  .title--section {
    @extend %hd--delta;
    margin-bottom: $baseline-v;
    border-bottom: double 4px $gray-l4;
    padding-bottom: ($baseline-v/2);
  }

  .list--temporal {
    @extend %no-list;
  }

  .list--temporal__item .label {
    @extend %text-sr;
  }

  // --------------------

  // summary
  .content--summary {
    @extend %section--alpha;
    @extend %copy--focusable;

    .title {
      @extend %text-sr;
    }

    .copy {
      @extend %copy--lead;

      @include media($bp-m) {
        @include font-size(18); // NOTE: needed since neat doesn't support extends in MQs
        @include lh(18);
      }
    }

    a {
      @extend %link-copy;
    }
  }

  // --------------------

  // experience
  .content--experience {
    margin-bottom: ($baseline-v*2);

    @include media($bp-dl) {
      @include span-columns(8 of 12);
      margin-bottom: 0;
    }

    @include media($bp-dx) {
      @include span-columns(8 of 12);
      margin-bottom: 0;
    }

    a {
      @extend %link-copy;
    }
  }

  .content--experience__position {
    @extend %wipe-last-child;
    @extend %copy--focusable;
    margin-bottom: ($baseline-v*1.5);
    border-bottom: 1px solid $decorative__color--secondary;
    padding-bottom: ($baseline-v*1.5);

    .wrapper--glance {
      @include clearfix();
      display: block;
      margin-bottom: ($baseline-v/2);
    }

    .title {
      @extend %hd--bravo;

      .role:after {
        content: ", ";
        margin-right: ($baseline-h/10);
      }

      @include media($bp-dm) {
        @include span-columns(5 of 8);
      }

      @include media($bp-dl) {
        @include span-columns(5 of 8);
      }

      @include media($bp-dx) {
        @include span-columns(5 of 8);
      }
    }

    .list--temporal {
      @extend %hd--epsilon;
      margin-bottom: ($baseline-v/2);

      @include media($bp-dm) {
        @include span-columns(3 of 8);
        @include omega();
        text-align: right;
      }

      @include media($bp-dl) {
        @include span-columns(3 of 8);
        @include omega();
        margin-top: ($baseline-v/4);
        text-align: right;
      }

      @include media($bp-dx) {
        @include span-columns(3 of 8);
        @include omega();
        margin-top: ($baseline-v/4);
        text-align: right;
      }
    }

    .list--temporal__item {
      @extend %wipe-last-child;

      @include media($bp-m) {
        display: inline-block;
        vertical-align: middle;
        margin-right: ($baseline-h/4);
      }

      @include media($bp-ds) {
        display: inline-block;
        vertical-align: middle;
        margin-right: ($baseline-h/4);
      }

      @include media($bp-dx) {
        display: inline-block;
        vertical-align: middle;
        margin-right: ($baseline-h/4);
      }
    }

    .copy {
      @extend %copy--showcase;


      @include media($bp-m) {
        @include font-size(16); // NOTE: needed since neat doesn't support extends in MQs
        @include lh(16);
      }
    }
  }

  // --------------------

  // education
  .content--education {
    margin-bottom: ($baseline-v*4);

    @include media($bp-ds) {
      margin-bottom: ($baseline-v*2);
    }

    @include media($bp-m) {
      margin-bottom: ($baseline-v*2);
    }

    a {
      @extend %link-copy;
    }

    .content--education__degree {
      @extend %wipe-last-child;
      margin-bottom: ($baseline-v*0.75);
      border-bottom: 1px solid $decorative__color--secondary;
      padding-bottom: ($baseline-v*0.75);

      .title {
        @extend %hd--charlie;

        .degree:after {
          content: ", ";
          margin-right: ($baseline-h/10);
        }
      }

      .list--temporal {
        @extend %hd--epsilon;
      }
    }
  }

  // highlighted partners/projects
  .content--partners {
    margin-bottom: ($baseline-v*2);

    a {
      @extend %link-copy;
    }

    .list--partners {
      @extend %no-list;
    }

    .list--partners_item {
      @extend %copy--focusable;
      @extend %wipe-last-child;
      margin-bottom: ($baseline-v*0.75);
      border-bottom: 1px solid $decorative__color--secondary;
      padding-bottom: ($baseline-v*0.75);

      @include media($bp-m) {
        // CASE: alternating
        &:nth-of-type(even) {

          .title {
            color: $copy--supplemental__color--alt;
          }
        }
      }

      @include media($bp-dm) {
        @include span-columns(6 of 12);
        @include omega(2n);
      }

      @include media($bp-ds) {
        @include span-columns(6 of 12);
        @include omega(2n);
      }

      @include media($bp-dl) {
        // CASE: alternating
        &:nth-of-type(even) {

          .title {
            color: $copy--supplemental__color--alt;
          }
        }
      }

      @include media($bp-dx) {
        // CASE: alternating
        &:nth-of-type(even) {

          .title {
            color: $copy--supplemental__color--alt;
          }
        }
      }

      .ico {
        @extend %trans-color;
        display: inline-block;
        vertical-align: middle;
        margin-right: ($baseline-h/4);
      }

      .title {
        @extend %hd--foxtrot;
      }
    }
  }

  // --------------------

  // activities
  .content--activities {
    @extend %section--alpha;

    a {
      @extend %link-copy;
    }

    .list--activities {
      @extend %no-list;
    }

    .list--activiites_item {
      @extend %copy--focusable;
      margin-bottom: $baseline-v;

      @include media($bp-dm) {
        @include span-columns(4 of 12);
        @include omega(4n);
      }

      @include media($bp-dl) {
        @include span-columns(4 of 12);
        @include omega(4n);
      }

      @include media($bp-dx) {
        @include span-columns(4 of 12);
        @include omega(4n);
      }

      .title {
        @extend %hd--charlie;
      }

      .copy {
        @extend %copy--showcase;
      }
    }

    .list--activiites_item {
      @extend %wipe-last-child;
    }
  }

  // --------------------

  // elsewhere
  .content--elsewhere {
    @extend %section--alpha;

    a {
      @extend %link-copy;
    }

    em {
      @extend %emphasis--bravo;
    }
  }

  .elsewhere__offclock {
    @extend %copy--focusable;
    margin-bottom: ($baseline-v*1.5);

    .elsewhere__offclock__title {
      @extend %text-sr;
    }

    .copy {
      @extend %copy--showcase;
    }
  }

  .elsewhere__online {

    .elsewhere__online__title {
      @extend %text-sr;
    }

    .elsewhere__online__copy {
      @extend %trans-color;
      @extend %copy--showcase;
      margin-bottom: $baseline-v;
    }

    .list--nav__item {
      @extend %copy--focusable;
      margin-bottom: $baseline-v;

      @include media($bp-ds) {
        @include span-columns(6 of 12);
        @include omega(2n);
      }

      @include media($bp-dm) {
        @include span-columns(6 of 12);
        @include omega(2n);
      }

      @include media($bp-dl) {
        @include span-columns(3 of 12);
        @include omega(4n);
      }

      @include media($bp-dx) {
        @include span-columns(3 of 12);
        @include omega(4n);
      }

      .title {
        @extend %hd--charlie;
        margin-bottom: ($baseline-v/4);  // NOTE: not clean, but needed
      }

      .ico {
        @extend %trans-color;
        display: inline-block;
        vertical-align: middle;
        margin-right: ($baseline-h/4);
        border-right: 1px solid $gray-l5;
        padding-right: ($baseline-h/4);
        color: $copy--supplemental__color;
      }

      .action {
        display: inline-block;
        vertical-align: middle;
      }

      .copy {
        @extend %copy--detail;
        margin-left: ($baseline-h);
      }

      // STATE: hover
      &:hover {

        .ico {
          color: $action--primary__color--focus;
        }

        .copy {
          color: $copy__color--focus;
        }
      }
    }
  }
}
