// elements: base
// ====================

// reset

* {
 @include box-sizing(border-box);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

html, body {
  height: 100%;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
  cursor: help;
}

// --------------------

// basic
html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  @extend %copy--base;
}

// --------------------

// layout
[class^="wrapper-"] {
  @extend %wrapper;
  padding: 0;
}

// --------------------

// accessibility
.sr, .divider, .nav--contents {
  @extend %text-sr;
}

// --------------------

// view
.wrapper--view {
  background: $view__bg;
}

// --------------------

// content
[class^="content__"], [class^="content--"] {

}

// --------------------

// elements
strong {
  @extend %t-weight3;
}

// lists
.list--actions, .list--nav, .list--docs, .list--steps, .list--controls, .list--fields, .list--help, .nav--wizard, .list--tips, .field--group {
  @extend %no-list;
}

// --------------------

// STATE: before window loads
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
