// elements: controls
// ====================

// links - copy
%link-copy {
  @include transition(color $tmg-f1 ease-in-out, border $tmg-f1 ease-in-out);
  border-bottom: 1px solid transparent;
  color: $action--primary__color;
  text-decoration: none;

  &:hover, &:focus {
    color: $action--primary__color--focus;
    border-color: $action--primary__color--focus;
  }

  &:active, &.is--current {
    color: $action--primary__color--active;
    border-color: $action--primary__color--active;
  }
}

// links - meta
%link-meta {
  @include transition(color $tmg-f1 ease-in-out, border $tmg-f1 ease-in-out);
  border-bottom: 1px solid transparent;
  color: $action--secondary__color;
  text-decoration: none;

  &:hover, &:focus {
    color: $action--secondary__color--focus;
    border-color: $action--secondary__color--focus;
  }

  &:active, &.is--current {
    color: $action--secondary__color--active;
    border-color: $action--secondary__color--active;
  }
}

// links - copy
%link-nav-page {
  @include transition(color $tmg-f1 ease-in-out, border $tmg-f1 ease-in-out);
  display: block;
  border-radius: ($baseline-v/10);
  border-left: ($baseline-h/2) solid $gray-l5;
  padding: ($baseline-v/2) ($baseline-h/4);
  color: $gray-l3;
  font-family: $f-action;
  text-decoration: none;

  &:hover, &:active {
    border-left-color: $action--secondary__color--focus;
    color: $action--secondary__color--focus;
  }
}
