// elements: navigation
// ====================

// global navigation
.nav--global {
  @extend %depth1;
  @extend %state-disabled;
  @include transition(opacity $tmg-s1 ease-in-out);
  position: fixed;
  top: -($anim-distance-offviewport);
  left: $baseline-h;
  opacity: 0.0;

  @include media($bp-dx) {
    top: ($baseline-v*2);
    // @extend %state-enabled; NOTE: can't be used now
    pointer-events: auto; // NOTE: needed now since extends aren't supported in neat media mixins
    outline: invert none medium; // NOTE: needed now since extends aren't supported in neat media mixins
    opacity: 1.0;
  }

  .title {
    @extend %hd--hotel;
    text-align: center;
    padding: ($baseline-v/2) ($baseline-h/4);
  }

  .list--nav {

  }

  .list--nav__item {
    border-bottom: 1px solid $gray-l5;

    &:last-child {
      border-bottom: none;
    }

    // STATE: current nav item
    &.is--current {

      .action {
        color: $gray;
        border-left-color: $gray;
      }
    }
  }

  .action {
    @extend %link-nav-page;
    @extend %action--nav--page;
    text-align: center;
  }

  .ico {
    display: block;
  }

  .fa {
    @extend %t-icon-m;
    margin-bottom: ($baseline-v/4);
  }

  .label {
    text-align: center;
  }
}

