<ul class="nav--elsewhere">
  <li class="nav--elsewhere__item">
    <a class="link" href="{{ site.data.talbs.url_twitter }}">
      <i class="icon fa fa-twitter" aria-hidden="true"></i>
      <span class="text">Twitter</span>
    </a>
  </li>
  <li class="nav--elsewhere__item">
    <a class="link" href="{{ site.data.talbs.url_github }}">
      <i class="icon fa fa-github" aria-hidden="true"></i>
      <span class="text">Github</span>
    </a>
  </li>
  <li class="nav--elsewhere__item">
    <a class="link" href="{{ site.data.talbs.url_dribbble }}">
      <i class="icon fa fa-dribbble" aria-hidden="true"></i>
      <span class="text">Dribbble</span>
    </a>
  </li>
  <li class="nav--elsewhere__item">
    <a class="link" href="{{ site.data.talbs.url_flickr }}">
      <i class="icon fa fa-flickr" aria-hidden="true"></i>
      <span class="text">Flickr</span>
    </a>
  </li>
  <li class="nav--elsewhere__item">
    <a class="link" href="{{ site.data.talbs.url_lastfm }}">
      <i class="icon fa fa-lastfm" aria-hidden="true"></i>
      <span class="text">Last.fm</span>
    </a>
  </li>
  <li class="nav--elsewhere__item">
    <a class="link" href="{{ site.data.talbs.url_linkedin }}">
      <i class="icon fa fa-linkedin" aria-hidden="true"></i>
      <span class="text">LinkedIn</span>
    </a>
  </li>
</ul>
