// main style compile
// ====================

// libraries and resets
// --------------------
@import 'utilities/bourbon/bourbon';        // http://bourbon.io
@import 'utilities/neat/neat';              // http://neat.bourbon.io
@import 'libs/font-awesome/font-awesome';   // http://fontawesome.io/
@import 'libs/normalize';                   // http://necolas.github.io/normalize.css/

// utilities and assets
// --------------------
// utilities
@import 'utilities/variables';              // settings/values/placeholders
@import 'utilities/mixins';                 // mixins and functions
@import 'utilities/extends';                // re-usable extends, placeholders, archetypes

// assets
@import 'assets/fonts';                     // imported/used fonts
@import 'assets/graphics';                  // sprites, basic img/figure/svg styling
@import 'assets/animations';                // css-based animations

// general, elements, and views
// --------------------
// elements
@import 'elements/base';                    // basic styles
@import 'elements/typography';              // font sizes/scale and applied/canned definitions
@import 'elements/controls';                // buttons, link styles, sliders, etc.
@import 'elements/header';                  // view/app headers
@import 'elements/footer';                  // view/app footers
@import 'elements/forms';                   // form elements

// specific views/areas of site
@import 'views/resume';                     // resume

// contextual
@import 'contexts/print';                  // basic print styling
@import 'contexts/ie';                     // ie-specific styling

// misc.
@import 'utilities/shame';                 // shame file - used for any bad-form/orphaned css
