// utilities
.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

// decorative
.deco--grid {

  &:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background-image: url('https://img.fortawesome.com/47947f7d/tiny-grid.svg');
    background-position: 0 0;
    background-repeat: repeat;
    transform: rotate(45deg);
  }
}

.deco--striped {
  height: 0.25rem;
  background: repeating-linear-gradient(
    to right,
    $yellow,
    $yellow 2rem,
    $gold 2rem,
    $gold 4rem,
    $orange 4rem,
    $orange 6rem
  );
}
