// ------------------------------
// Layouts

// About: styling for generic layouts and responsive support.

// #CONFIG
// #GLOBAL
// #UTILITY
// #WORK


// ------------------------------
// #CONFIG
// ------------------------------
// susy-based configuration (see http://susydocs.oddbird.net/en/latest/settings/)
$susy: (
  use-custom: (
    background-options: false,
    box-sizing: false,
    breakpoint: true,
    clearfix: true,
    rem: true
    ),
  debug: (
    color: $grid-debug-color,
    ),
  math: fluid,
  output: float
  );

// ------------------------------
// #GLOBAL
// ------------------------------
// banner
.wrapper--header {
  @extend %grid-wrapper;
}

.header--site {
  @extend %grid-container;
  text-align: center;

  // @include breakpoint($bp-screen-md) {
  //   text-align: left;
  // }
}

// footer
.wrapper--footer--site {
  @extend %grid-wrapper;
  padding-top: $spacing-lg;

  @include breakpoint($bp-screen-sm) {
  }
}

.footer--site {
  @extend %grid-container;
  text-align: center;
}

// nav - elsewhere
.nav--elsewhere__item {
  display: block;
  text-align: center;
  margin-bottom: $spacing-md;

  .link {
    display: block;
  }

  .icon {
    margin-right: $spacing-sm;
  }

  @include breakpoint($bp-screen-sm) {
    display: inline-block;
    vertical-align: middle;
    margin-right: $spacing-lg;
    text-align: left;

    .link {
      display: inline;
    }
  }
}
