// decorative
.deco--avatar {
  filter: grayscale(20%)
}

.deco--grid {

  &:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background-image: url('https://img.fortawesome.com/47947f7d/tiny-grid.svg');
    background-position: 0 0;
    background-repeat: repeat;
    transform: rotate(45deg);
  }
}

.deco--striped {
  height: 0.25rem;
  background: repeating-linear-gradient(
    to right,
    $blue,
    $blue 2rem,
    $lighter-blue 2rem,
    $lighter-blue 4rem,
    $lightest-blue 4rem,
    $lightest-blue 6rem,
    $light-blue 6rem,
    $light-blue 8rem,
    $darkest-blue 8rem,
    $darkest-blue 10rem
  );
}
