// animation
$timing-base                : 0.75s;
$timing-slow                : 1s;
$timing-slower              : 1.5s;
$timing-slowest             : 2.0s;
$timing-fast                : 0.5s;
$timing-faster              : 0.25s;
$timing-fastest             : 0.1s;
