---
layout: work-default
title: Work

section: work
view: work--index
slug: work-index
---
{% assign post = page %}
{% assign body = content %}

<main class="content">
  <div class="wrapper--greeting">
    <div class="greeting">
      <section class="section section--who">
      <h2 class="section__title">Hello.</h2>
      <div class="section__content">
        <p>I'm Brian Talbot. An all-purpose and seasoned <a class="link" href="{{ site.data.talbs.url_dribbble }}">design</a> lead. I've helped a range of businesses and organizations &ndash; from <em>big brands</em> to <em>non-profits</em> to <em>startups</em> &ndash; create <em>engaging, user-friendly experiences</em> that balance business goals, user needs, and technical capabilities.</p>
      </div>
    </section>

    <section class="section section--what">
      <h2 class="section__title sr">As a Design Lead, I focus on</h2>
      <div class="section__content">
        <div class="what__detail detail--standards">
          <h3 class="title">I've built Design Systems &amp; Standards</h3>
          <p class="content">I've architected tools, <a class="link" href="{{ site.baseurl }}work/edx-uxpl">libraries</a>, and <a class="link" href="{{ site.baseurl }}work/">conventions</a> teams can leverage that consistently, efficiently, and effectively solve problems while creating a pleasing and dependable experience.</p>
        </div>

        <div class="what__detail detail--standards">
          <h3 class="title">I've led UX Strategy</h3>
          <p class="content">While working iteratively, I've helped cross-functional teams think and work towards longer-term directions about their products, content, and experiences.</p>
        </div>

        <div class="what__detail detail--standards">
          <h3 class="title">I enjoy Team Building &amp; Mentoring</h3>
          <p class="content">In a well-supported team, I firmly believe that whole is great than the sum of its parts. I've created avenues for team members to brainstorm, lean on one another, and make each other's ideas better.</p>
        </div>
      </div>
    </section>
    </div>
  </div>

  <hr class="sr">

  <div class="wrapper--work">
    <section class="section section--work">
      <h1 class="section__title">Selected Work</h1>

      <div class="section__content list--work">
        {% for post in site.categories.work %}
        {% include work-lead.html %}
        {% endfor %}
      </div>
    </section>
  </div>
</main>

<hr class="sr">

<div class="wrapper--more">
  <aside class="section section--more">
    <h2 class="section__title">More Info</h2>
    <div class="section__content">
      <div class="section--more__about">
        <p class="about--misc">When I'm not busy planning or pushing pixels, you can find me knee deep in <a class="link" href="{{ site.data.talbs.url_flickr }}">photography</a>, volunteering, playing squash, spending far too much money at <a class="link" href="http://www.hubcomics.com/">the local comic book shop</a>, and experimenting with <a class="link" href="https://github.com/talbs/cookbook">recipes</a>.</p>

        <span class="about--resume">
          <a class="action action--resume" href="{{ site.baseurl }}{{ site.url_work_docs }}/resume-briantalbot.pdf"><i class="icon icon--inline fa fa-file-pdf-o" aria-hidden="true"></i> View my resume (PDF)</a>
        </span>
      </div>

      <div class="section--more__elsewhere">
        <p class="elsewhere--content sr">Find me listening, coding, sharing designs, photos and links at:</p>

        {% include nav-elsewhere.html %}
      </div>
    </div>
  </aside>
</div>
