// utilities: mixins
// ====================

// shorthand
@mixin pos-abs ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

// --------------------

// font sizing
@mixin font-size($sizeValue: 16){
  font-size: $sizeValue + px;
  font-size: ($sizeValue/10) + rem;
}

// --------------------

// line height
@mixin lh($fontSize: auto){
  line-height: ($fontSize*1.50) + px;
  line-height: (($fontSize/10)*1.50) + rem;
}
