<!DOCTYPE html>
<html class="no-js" lang="en">

{% include head.html %}

<body class="talbs {% if page.section %}{{ page.section }} {% endif %}{% if page.view %}{{ page.view }}{% endif %}">
  <div class="nav--skip sr">
    <a class="action--skip" href="#content--main">Skip to the main content</a>
  </div>

  <hr class="divider sr">

  <div class="wrapper--view">

    {% include header.html %}

    <hr class="divider sr">

    <div class="wrapper--content" id="content-top">
      <main class="content--main" id="content--main" aria-label="Content">
        {{ content }}
      </main>
    </div>

    <hr class="divider sr">

    {% include footer.html %}
  </div>

  {% include assets-secondary.html %}
</body>
</html>
