---
layout: work-default
category: work
section: work
---
{% assign post = page %}
{% assign body = content %}

<div class="wrapper--breadcrumbs">
  <nav class="nav--breadcrumbs">
    <a class="link nav--breadcrumbs__link" href="{{ site.baseurl }}{{ site.url_work }}">Recent Work</a>
    <i class="nav--breadcrumbs__spacer icon fa fa-angle-right" aria-hidde="true"></i>
    <a class="link nav--breadcrumbs__link is-disabled" href="{{ post.permalink }}">{{ post.title }}</a>
  </nav>
</div>

<main class="work work--detail work--{{ post.slug }}  work--{{ post.type }}">
  {{ body }}
</main>



